.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  align-items: center;
  color: black;
  height: 40px;
  text-decoration: none;
  appearance: none;
  outline: black;
  border: black solid 1px;
  border-radius: 8px;
  border-color: #eeeeef;
  padding: 0px 16px;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;

}

button:hover{
  cursor: pointer;
  background-color: #fff;
  border-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}