.wrapper{
    position: relative;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 28px;
    width: 100%;
    box-sizing: border-box;

    &:hover{
        outline-color: red;
    }

    .search-icon{
        width: 16px;
        height: 16px;
    }

    .js-search-input-form{
        height: 100%;
        box-sizing: border-box;
        width: 100%;
    }

    .search-input{
        box-sizing: border-box;
        background: transparent;
        border-color: transparent;
        box-shadow: none;
        font-size: 16px;
        background: #fff;
        padding: 0;
        padding-right: 0px;
        padding-left: 0px;
        height: 100%;
        padding-left: 30px;
        padding-right: 24px;
        width: 100%;
        outline: none;
        color: black;
    }

    .vertical-divider{
        margin-right: 24px;
		width: 2px;
		background: #e7e7e9;
		height: 50%;
    }

	.btn-dropdown{
		width: 84px;
		margin-right: 5px;
		color: #0d0c22;
		font-weight: 600;
		line-height: 20px;

        &:hover{
            cursor: pointer;
        }
	}

    .btn-dropdown2{
		width: 84px;
		margin-right: 10px;
		color: #0d0c22;
		font-weight: 600;
		line-height: 20px;

        &:hover{
            cursor: pointer;
        }
	}
}