.suggestion{
    line-height: 28.6px;
    text-align: left;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
    width: 100%;

    .suggestionLink{
        box-sizing: border-box;
    }
}